@charset "utf-8";
/* CSS Document */

.body {
  background-color: #0C0424 !important;
}

p {
	color: aliceblue;
	
}

h2 {
	color: aliceblue !important;
}

body {
	line-height: 1.5;
	color: #555;
	font-family: "maven-pro","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif" !important;
}