@charset "utf-8";
/* CSS Document */

.body {
  background-color: #0C0424 !important;
}

p {
	color: #6c757de !important;
	font-family: "maven-pro","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif" !important;
}
h1{
	font-family: unifrakturcook, unifrakturmaguntia, "germania-one", astloch !important; 
	
}


h2, h1 {
	color: aliceblue !important;
}

body {
	line-height: 1.5;
	color: #555;
	font-family: "maven-pro","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif" !important;
}

span {
	color: #6B0605 !important;
	
}

 h3, h4, h5, h6 {
	color: #3B1E1E !important;
	
}

hover {
	color: #6B0605 !important;
	
	
}


	
}
